@font-face {
    font-family: 'Moderniz.otf';
    src: url('./font/Moderniz.otf');
}

body {
    background-color: black;
    background-image: radial-gradient(#333 1px, transparent 1px);
    background-size: 30px 30px;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: black;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
}
nav h1 {
    font-size: 24px;
    margin: 0;
    font-family: 'Moderniz.otf', sans-serif;
}

#nav {
    display: flex;
    list-style: none;
    gap: 35px;
    margin: 0;
    padding: 0;
}

#nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 5px;
    transition: 0.3s;
    display: inline-block;
}

#nav a:hover {
    color: white;
    transform: scale(1.05);
    border-bottom: 2px solid white;
}

#home {
    text-align: center;
    padding: 200px 20px;
}

#home h2 {
    max-width: 1100px;
    margin: 0 auto 40px;
    text-align: left;
    font-size: 80px;
    font-family: 'Moderniz.otf', sans-serif;
}

.konten {
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.deskripsi {
    max-width: 900px;
    text-align: left;
    font-size: 25px;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}

#home button {
    padding: 15px 35px;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Moderniz', sans-serif;
}

#home button:hover {
    transform: scale(1.05);
    background-color: black;
    color: white;
    border: 2px solid white;
}

#about {
    padding: 70px;
}

#about h4 {
    font-size: 25px;
    font-family: 'Moderniz.otf', sans-serif;
}

.profil {
    max-width: 1000px;
    text-align: left;
    font-size: 20px;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}

.profil img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
}